/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

html {
	scroll-behavior: smooth;
}

body {
	width: 100vw;
	overflow-x: hidden;
}

.wp-block-design-system-frame {
	--inner-group-max-width: 100%;
	--animation-timing-function: linear;
	--frame-container-max-width: 100%;
	--i: 0;
	display: grid;
	position: relative;
	max-width: 100%;

	&__track {
		width: 100vw;
		padding-right: var(--frame-offset-right);
		padding-left: var(--frame-offset-left);
		transform: translateX(calc(var(--frame-offset-left) * -1));
		box-sizing: border-box;
		overflow: visible;
	}

	&__inner-container {
		border: 0;
		width: calc(var(--inner-group-max-width) * var(--n));
		//overflow: hidden;
		gap: 0 !important;
		display: flex;
		flex-wrap: nowrap;
		height: auto;
		transition: transform 300ms var(--animation-timing-function);
		padding-bottom: 3rem;
		transform: translate(calc(var(--i, 0)/var(--n)*-100%));


		&:focus {
			outline: none;
		}

		&.smooth {
			transition: none;
			will-change: transform;
		}

		&:not(.ready) {
			> .wp-block-group, > .wp-block-image {
				display: none;
				&:first-child {
					display: block;
				}
			}
		}

		> .wp-block-group, > .wp-block-image {

			.wp-block-image {
				user-select: none;
			}

			position: relative;
			width: var(--inner-group-max-width);
			margin-block-start: 0;
			transition: all 60ms linear;
			-webkit-user-drag: none;
			pointer-events: none;
			opacity: 0;

			&[aria-current="step"] {
				transition: all 200ms linear 200ms;
				opacity: 1;
			}

		}
	}
}


.wp-block-design-system-frame {
	position: relative;
	//overflow-x: visible;
	&:has(.is-style-rounded) [aria-roledescription="slide"] {
		border-radius: var(--wp--preset--spacing--20);
	}
	&:focus-within [aria-current="step"] {
		border-radius: var(--wp--preset--spacing--20);
		outline: 4px solid color-mix(in srgb, transparent 70%, var(--wp--preset--color--accent-3));
	}
}

.wp-block-design-system-frame > .wp-block-design-system-frame__inner-container:has(.wp-block-group:nth-child(2))  {
	overflow-x: visible;
	scroll-margin-top: 10rem;
	counter-reset: item;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
}

.wp-block-cover:has(.wp-block-design-system-frame) {
	scroll-snap-align: center;
	scroll-margin-top: 10rem;
}


.wp-block-design-system-frame__navigation {
	position: absolute;
	bottom: 1rem;
	display: flex;
	width: 100%;
	margin: 0;
	justify-content: center;
	padding-left: 0;
	gap: var(--wp--preset--spacing--40);

	li {
		list-style-type: none;
	}
}


.wp-block-design-system-frame__navigation__dot {
	display: block;
	width: 1rem;
	height: 1rem;
	background-color: var(--wp--preset--color--contrast);
	border-radius: 50%;
	border: 0;
	overflow: hidden;
	text-indent: -30px;
	opacity: 0.4;
	transition: opacity 200ms linear;

	&:not([aria-disabled]) {
		cursor: pointer;
	}
	&[aria-disabled], &:hover {
		background-color: var(--wp--preset--color--accent-3);
		opacity: 1;
	}
}
